@import './font-awesome.min.css';
@import './btn.css';

body {
    font-family: cursive, system-ui,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --main-color: #FF4522;
}

.container {
    display: inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px);
    margin-bottom: 50px;
}

@media (max-width: 1100px) {
    .container {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}

@media (max-width: 900px) {
    .container {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}

@media (max-width: 700px) {
    .container {
        width: 400px;
        margin: 0 calc(50% - 200px);
    }

}

@media (max-width: 440px) {
    .container {
        width: 100%;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container:nth-last-child(2) {
    margin-bottom: 0;
}

.container:nth-last-child(3) {
    margin-bottom: 0;
}

.container:first-child {
    margin-top: 20px;
}

/*HEADER*/

.logo {
    float: left;
}

.header-links {
    float: right;
    margin-top: 15px;
}


@media (max-width: 900px) {
    .header-links,
    .logo {
        float: none;
        text-align: center;
        display: block;
        width: 100%;
    }

    .logo {
        height: 40px;
        width: 100%;
        object-fit: contain;
    }
}

.header-links a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    
}

.header-links a:last-child {
    margin-right: 50px;
} 

.header-links a:hover {
    text-decoration: underline var(--main-color) 3px;
}

/* MAIN*/

.column-left {
    display:inline-block;
    float: left;
    width: 40%;
    margin-top: 50px;
}

.column-right {
    display: inline-block;
    float: right;
    width: 55%;
}

@media (max-width: 900px) {
    .column-right {
        margin-top: 30px;
    }
}

@media (max-width: 700px) {
    .column-left,
    .column-right {
        display: block;
        width: 100%;
        float: none; 
    }

    .column-right {
        margin-top: 30px;
    }

}

.main-title .welcome {
    display: block;
}

.main-title .lifestyle {
    color: var(--main-color);
}

p {
    font-size: 14px;
}

.leaves {
    display: block;
    width: 80%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 1100px) {
    .leaves {
        display: none;
    }
}


/*FOOTER*/

.socials {
    float: right;
}

.socials a {
    text-decoration: none;
    color: #D1EFF5; 
}

.socials a:hover {
    color: #8CE2DA;
}